# 01 - Data Exploration

Notebook để khám phá dữ liệu mẫu và kiểm tra các trường hợp bất thường.

In [1]:
import pandas as pd
df = pd.read_csv('../data/fraudTrain.csv')
df.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,...,36.0788,-81.1781,3495,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0
1,1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,...,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0
2,2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,...,42.1808,-112.2620,4154,Nature conservation officer,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481,0
3,3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,...,46.2306,-112.1138,1939,Patent attorney,1967-01-12,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071,0
4,4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,...,38.4207,-79.4629,99,Dance movement psychotherapist,1986-03-28,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459,0

In [3]:
df.nunique()

Unnamed: 0               1296675
trans_date_trans_time    1274791
cc_num                       983
merchant                     693
category                      14
amt                        52928
first                        352
last                         481
gender                         2
street                       983
city                         894
state                         51
zip                          970
lat                          968
long                         969
city_pop                     879
job                          494
dob                          968
trans_num                1296675
unix_time                1274823
merch_lat                1247805
merch_long               1275745
is_fraud                       2
dtype: int64

In [6]:
for col in df.columns:
    print(f"{col}: {df[col].value_counts()}")

Unnamed: 0: Unnamed: 0
1296674    1
0          1
1          1
1296635    1
1296636    1
          ..
6          1
7          1
8          1
9          1
10         1
Name: count, Length: 1296675, dtype: int64
trans_date_trans_time: trans_date_trans_time
2019-04-22 16:02:01    4
2020-06-01 01:37:47    4
2020-06-02 12:47:07    4
2019-06-03 01:08:00    3
2019-01-29 23:02:01    3
                      ..
2019-01-01 00:23:58    1
2019-01-01 00:25:46    1
2019-01-01 00:26:22    1
2019-01-01 00:27:45    1
2019-01-01 00:09:03    1
Name: count, Length: 1274791, dtype: int64
cc_num: cc_num
4512828414983801773    3123
571365235126           3123
36722699017270         3119
213112402583773        3117
3545109339866548       3113
                       ...
180097223252063           7
340187018810220           7
501894933032              7
4975457191020             7
3545578418030657          7
Name: count, Length: 983, dtype: int64
merchant: merchant
fraud_Kilback LLC                       4403
fraud_Cormier LLC                       3649
fraud_Schumm PLC                        3634
fraud_Kuhn LLC                          3510
fraud_Boyer PLC                         3493
                                        ...
fraud_Douglas, DuBuque and McKenzie      775
fraud_Treutel-King                       775
fraud_Medhurst, Labadie and Gottlieb     759
fraud_Reichert-Weissnat                  753
fraud_Hahn, Douglas and Schowalter       727
Name: count, Length: 693, dtype: int64
category: category
gas_transport     131659
grocery_pos       123638
home              123115
shopping_pos      116672
kids_pets         113035
shopping_net       97543
entertainment      94014
food_dining        91461
personal_care      90758
health_fitness     85879
misc_pos           79655
misc_net           63287
grocery_net        45452
travel             40507
Name: count, dtype: int64
amt: amt
1.14       542
1.04       538
1.25       535
1.02       533
1.01       523
          ...
454.46       1
872.14       1
405.03       1
1060.31      1
1078.51      1
Name: count, Length: 52928, dtype: int64
first: first
Christopher    26669
Robert         21667
Jessica        20581
James          20039
Michael        20009
               ...
Arthur             9
Phyllis            8
Molly              8
Angelica           7
Samantha           7
Name: count, Length: 352, dtype: int64
last: last
Smith        28794
Williams     23605
Davis        21910
Johnson      20034
Rodriguez    17394
             ...
Wells            9
Peterson         9
Strong           8
Blake            7
Schaefer         7
Name: count, Length: 481, dtype: int64
gender: gender
F    709863
M    586812
Name: count, dtype: int64
street: street
864 Reynolds Plains                  3123
0069 Robin Brooks Apt. 695           3123
8172 Robertson Parkways Suite 072    3119
4664 Sanchez Common Suite 930        3117
8030 Beck Motorway                   3113
                                     ...
7281 Joshua Mills Apt. 077              7
27954 Hall Mill Suite 575               7
9599 Washington Field Suite 238         7
3437 Ross Flat Apt. 592                 7
300 Hodge Loaf                          7
Name: count, Length: 983, dtype: int64
city: city
Birmingham     5617
San Antonio    5130
Utica          5105
Phoenix        5075
Meridian       5060
               ...
Claypool          7
Norfolk           7
Bruce             7
Vacaville         7
Chattanooga       7
Name: count, Length: 894, dtype: int64
state: state
TX    94876
NY    83501
PA    79847
CA    56360
OH    46480
MI    46154
IL    43252
FL    42671
AL    40989
MO    38403
MN    31714
AR    31127
NC    30266
WI    29368
VA    29250
SC    29190
KY    28475
IN    27580
IA    26985
OK    26671
MD    26193
GA    26063
WV    25691
NJ    24603
NE    24168
KS    22996
MS    21188
LA    20965
WY    19322
WA    18924
OR    18597
TN    17554
ME    16505
NM    16407
ND    14786
CO    13880
MA    12376
SD    12324
VT    11768
MT    11754
AZ    10770
UT    10699
NH     8278
CT     7702
NV     5607
ID     5545
DC     3613
HI     2559
AK     2120
RI      550
DE        9
Name: count, dtype: int64
zip: zip
73754    3646
34112    3613
48088    3597
82514    3527
49628    3123
         ...
10018       7
46510       7
38915       7
95688       7
77027       7
Name: count, Length: 970, dtype: int64
lat: lat
36.3850    3646
26.1184    3613
42.5164    3597
43.0048    3527
44.5995    3123
           ...
38.3847       7
35.0271       7
41.1225       7
34.0066       7
40.7547       7
Name: count, Length: 968, dtype: int64
long: long
-98.0727     3646
-81.7361     3613
-82.9832     3597
-108.8964    3527
-79.7856     3123
             ...
-98.4590        7
-73.9925        7
-85.8686        7
-121.9887       7
-95.4460        7
Name: count, Length: 969, dtype: int64
city_pop: city_pop
606        5496
1595797    5130
1312922    5075
1766       4574
241        4533
           ...
1888          7
198659        7
99475         7
20133         7
4046          7
Name: count, Length: 879, dtype: int64
job: job
Film/video editor             9779
Exhibition designer           9199
Naval architect               8684
Surveyor, land/geomatics      8680
Materials engineer            8270
                              ...
Veterinary surgeon               8
Information officer              8
Contracting civil engineer       7
Ship broker                      7
Warehouse manager                7
Name: count, Length: 494, dtype: int64
dob: dob
1977-03-23    5636
1981-08-29    4636
1988-09-15    4623
1955-05-06    3661
1995-07-12    3123
              ...
1963-02-26       7
1936-05-04       7
1964-09-17       7
1949-02-15       7
1944-06-17       7
Name: count, Length: 968, dtype: int64
trans_num: trans_num
8f7c8e4ab7f25875d753b422917c98c9    1
0b242abb623afc578575680df30655b9    1
1f76529f8574734946361c461b024d99    1
566169c2e5ed46feceb436dcf2464849    1
e064f1755c6491e6196a8798d3cd4c4c    1
                                   ..
83ec1cc84142af6e2acf10c44949e720    1
6d294ed2cc447d2c71c7171a3d54967c    1
fc28024ce480f8ef21a32d64c93a29f5    1
3b9014ea8fb80bd65de0b1463b00b00e    1
d71c95ab6b7356dd74389d41df429c87    1
Name: count, Length: 1296675, dtype: int64
unix_time: unix_time
1335110521    4
1370050667    4
1370177227    4
1330179033    3
1350049069    3
             ..
1325377438    1
1325377546    1
1325377582    1
1325377665    1
1325376543    1
Name: count, Length: 1274823, dtype: int64
merch_lat: merch_lat
39.983138    4
41.731663    4
34.134994    4
40.456305    4
42.920584    4
            ..
46.043252    1
39.240962    1
41.776673    1
38.419431    1
37.386180    1
Name: count, Length: 1247805, dtype: int64
merch_long: merch_long
-74.618269     4
-81.219189     4
-87.116414     4
-88.493090     3
-82.055036     3
              ..
-156.045889    1
-101.265846    1
-121.815161    1
-89.811282     1
-72.042544     1
Name: count, Length: 1275745, dtype: int64
is_fraud: is_fraud
0    1289169
1       7506
Name: count, dtype: int64